//----------------------------------------------------
// iOSTONE CC0 by Qrac
//----------------------------------------------------

$red-50: hsl(3, 100%, 95%) !default;
$red-100: hsl(3, 100%, 87%) !default;
$red-200: hsl(3, 100%, 80%) !default;
$red-300: hsl(3, 100%, 73%) !default;
$red-400: hsl(3, 100%, 66%) !default;
$red-500: hsl(3, 100%, 59%) !default;
$red-600: hsl(3, 100%, 51%) !default;
$red-700: hsl(3, 100%, 43%) !default;
$red-800: hsl(3, 100%, 35%) !default;
$red-900: hsl(3, 100%, 27%) !default;
$red-a100: hsl(3, 100%, 91%) !default;
$red-a200: hsl(3, 100%, 84%) !default;
$red-a400: hsl(3, 100%, 70%) !default;
$red-a700: hsl(3, 100%, 47%) !default;

$pink-50: hsl(348, 100%, 94%) !default;
$pink-100: hsl(348, 100%, 87%) !default;
$pink-200: hsl(348, 100%, 80%) !default;
$pink-300: hsl(348, 100%, 73%) !default;
$pink-400: hsl(348, 100%, 66%) !default;
$pink-500: hsl(348, 100%, 59%) !default;
$pink-600: hsl(348, 100%, 51%) !default;
$pink-700: hsl(348, 100%, 43%) !default;
$pink-800: hsl(348, 100%, 35%) !default;
$pink-900: hsl(348, 100%, 27%) !default;
$pink-a100: hsl(348, 100%, 91%) !default;
$pink-a200: hsl(348, 100%, 84%) !default;
$pink-a400: hsl(348, 100%, 70%) !default;
$pink-a700: hsl(348, 100%, 47%) !default;

$purple-50: hsl(282, 77%, 93%) !default;
$purple-100: hsl(282, 77%, 85%) !default;
$purple-200: hsl(282, 77%, 78%) !default;
$purple-300: hsl(282, 77%, 71%) !default;
$purple-400: hsl(282, 77%, 65%) !default;
$purple-500: hsl(282, 77%, 57%) !default;
$purple-600: hsl(282, 77%, 49%) !default;
$purple-700: hsl(282, 77%, 41%) !default;
$purple-800: hsl(282, 77%, 34%) !default;
$purple-900: hsl(282, 77%, 25%) !default;
$purple-a100: hsl(282, 97%, 89%) !default;
$purple-a200: hsl(282, 97%, 82%) !default;
$purple-a400: hsl(282, 97%, 69%) !default;
$purple-a700: hsl(282, 97%, 45%) !default;

$deep-purple-50: hsl(266, 100%, 91%) !default;
$deep-purple-100: hsl(266, 100%, 84%) !default;
$deep-purple-200: hsl(266, 100%, 77%) !default;
$deep-purple-300: hsl(266, 100%, 70%) !default;
$deep-purple-400: hsl(266, 100%, 63%) !default;
$deep-purple-500: hsl(266, 100%, 56%) !default;
$deep-purple-600: hsl(266, 100%, 48%) !default;
$deep-purple-700: hsl(266, 100%, 40%) !default;
$deep-purple-800: hsl(266, 100%, 32%) !default;
$deep-purple-900: hsl(266, 100%, 24%) !default;
$deep-purple-a100: hsl(266, 100%, 88%) !default;
$deep-purple-a200: hsl(266, 100%, 81%) !default;
$deep-purple-a400: hsl(266, 100%, 67%) !default;
$deep-purple-a700: hsl(266, 100%, 44%) !default;

$indigo-50: hsl(227, 61%, 88%) !default;
$indigo-100: hsl(227, 61%, 81%) !default;
$indigo-200: hsl(227, 61%, 74%) !default;
$indigo-300: hsl(227, 61%, 67%) !default;
$indigo-400: hsl(227, 61%, 60%) !default;
$indigo-500: hsl(227, 61%, 53%) !default;
$indigo-600: hsl(227, 61%, 45%) !default;
$indigo-700: hsl(227, 61%, 37%) !default;
$indigo-800: hsl(227, 61%, 29%) !default;
$indigo-900: hsl(227, 61%, 21%) !default;
$indigo-a100: hsl(227, 91%, 85%) !default;
$indigo-a200: hsl(227, 91%, 78%) !default;
$indigo-a400: hsl(227, 91%, 64%) !default;
$indigo-a700: hsl(227, 91%, 41%) !default;

$blue-50: hsl(211, 100%, 85%) !default;
$blue-100: hsl(211, 100%, 78%) !default;
$blue-200: hsl(211, 100%, 71%) !default;
$blue-300: hsl(211, 100%, 64%) !default;
$blue-400: hsl(211, 100%, 57%) !default;
$blue-500: hsl(211, 100%, 50%) !default;
$blue-600: hsl(211, 100%, 42%) !default;
$blue-700: hsl(211, 100%, 34%) !default;
$blue-800: hsl(211, 100%, 26%) !default;
$blue-900: hsl(211, 100%, 18%) !default;
$blue-a100: hsl(211, 100%, 82%) !default;
$blue-a200: hsl(211, 100%, 75%) !default;
$blue-a400: hsl(211, 100%, 61%) !default;
$blue-a700: hsl(211, 100%, 38%) !default;

$light-blue-50: hsl(202, 100%, 85%) !default;
$light-blue-100: hsl(202, 100%, 77%) !default;
$light-blue-200: hsl(202, 100%, 70%) !default;
$light-blue-300: hsl(202, 100%, 63%) !default;
$light-blue-400: hsl(202, 100%, 56%) !default;
$light-blue-500: hsl(202, 100%, 49%) !default;
$light-blue-600: hsl(202, 100%, 41%) !default;
$light-blue-700: hsl(202, 100%, 33%) !default;
$light-blue-800: hsl(202, 100%, 25%) !default;
$light-blue-900: hsl(202, 100%, 17%) !default;
$light-blue-a100: hsl(202, 100%, 81%) !default;
$light-blue-a200: hsl(202, 100%, 74%) !default;
$light-blue-a400: hsl(202, 100%, 60%) !default;
$light-blue-a700: hsl(202, 100%, 37%) !default;

$cyan-50: hsl(187, 74%, 84%) !default;
$cyan-100: hsl(187, 74%, 77%) !default;
$cyan-200: hsl(187, 74%, 70%) !default;
$cyan-300: hsl(187, 74%, 63%) !default;
$cyan-400: hsl(187, 74%, 56%) !default;
$cyan-500: hsl(187, 74%, 49%) !default;
$cyan-600: hsl(187, 74%, 41%) !default;
$cyan-700: hsl(187, 74%, 33%) !default;
$cyan-800: hsl(188, 74%, 25%) !default;
$cyan-900: hsl(187, 74%, 17%) !default;
$cyan-a100: hsl(187, 94%, 81%) !default;
$cyan-a200: hsl(187, 94%, 74%) !default;
$cyan-a400: hsl(187, 94%, 60%) !default;
$cyan-a700: hsl(187, 94%, 37%) !default;

$teal-50: hsl(172, 63%, 80%) !default;
$teal-100: hsl(172, 63%, 73%) !default;
$teal-200: hsl(172, 63%, 65%) !default;
$teal-300: hsl(172, 63%, 59%) !default;
$teal-400: hsl(172, 63%, 51%) !default;
$teal-500: hsl(172, 63%, 45%) !default;
$teal-600: hsl(172, 63%, 36%) !default;
$teal-700: hsl(172, 63%, 28%) !default;
$teal-800: hsl(172, 63%, 20%) !default;
$teal-900: hsl(172, 63%, 13%) !default;
$teal-a100: hsl(172, 83%, 77%) !default;
$teal-a200: hsl(172, 83%, 69%) !default;
$teal-a400: hsl(172, 83%, 55%) !default;
$teal-a700: hsl(172, 83%, 32%) !default;

$green-50: hsl(130, 65%, 92%) !default;
$green-100: hsl(130, 65%, 85%) !default;
$green-200: hsl(130, 65%, 78%) !default;
$green-300: hsl(130, 65%, 72%) !default;
$green-400: hsl(130, 65%, 64%) !default;
$green-500: hsl(130, 65%, 57%) !default;
$green-600: hsl(130, 65%, 49%) !default;
$green-700: hsl(130, 65%, 41%) !default;
$green-800: hsl(130, 65%, 34%) !default;
$green-900: hsl(130, 65%, 25%) !default;
$green-a100: hsl(130, 85%, 89%) !default;
$green-a200: hsl(130, 85%, 82%) !default;
$green-a400: hsl(130, 85%, 68%) !default;
$green-a700: hsl(130, 85%, 45%) !default;

$light-green-50: hsl(94, 73%, 87%) !default;
$light-green-100: hsl(94, 73%, 80%) !default;
$light-green-200: hsl(94, 73%, 73%) !default;
$light-green-300: hsl(94, 73%, 66%) !default;
$light-green-400: hsl(94, 73%, 59%) !default;
$light-green-500: hsl(94, 73%, 52%) !default;
$light-green-600: hsl(94, 73%, 44%) !default;
$light-green-700: hsl(94, 73%, 36%) !default;
$light-green-800: hsl(94, 73%, 28%) !default;
$light-green-900: hsl(94, 73%, 20%) !default;
$light-green-a100: hsl(94, 93%, 84%) !default;
$light-green-a200: hsl(94, 93%, 77%) !default;
$light-green-a400: hsl(94, 93%, 63%) !default;
$light-green-a700: hsl(94, 93%, 40%) !default;

$lime-50: hsl(72, 76%, 88%) !default;
$lime-100: hsl(72, 76%, 81%) !default;
$lime-200: hsl(72, 76%, 74%) !default;
$lime-300: hsl(72, 76%, 67%) !default;
$lime-400: hsl(72, 76%, 60%) !default;
$lime-500: hsl(72, 76%, 53%) !default;
$lime-600: hsl(72, 76%, 45%) !default;
$lime-700: hsl(72, 76%, 37%) !default;
$lime-800: hsl(72, 76%, 29%) !default;
$lime-900: hsl(72, 76%, 21%) !default;
$lime-a100: hsl(72, 96%, 85%) !default;
$lime-a200: hsl(72, 96%, 78%) !default;
$lime-a400: hsl(72, 96%, 64%) !default;
$lime-a700: hsl(72, 96%, 41%) !default;

$yellow-50: hsl(54, 93%, 91%) !default;
$yellow-100: hsl(54, 93%, 84%) !default;
$yellow-200: hsl(54, 93%, 77%) !default;
$yellow-300: hsl(54, 93%, 70%) !default;
$yellow-400: hsl(54, 93%, 63%) !default;
$yellow-500: hsl(54, 93%, 56%) !default;
$yellow-600: hsl(54, 93%, 48%) !default;
$yellow-700: hsl(54, 93%, 40%) !default;
$yellow-800: hsl(54, 93%, 32%) !default;
$yellow-900: hsl(54, 93%, 24%) !default;
$yellow-a100: hsl(54, 93%, 88%) !default;
$yellow-a200: hsl(54, 93%, 81%) !default;
$yellow-a400: hsl(54, 93%, 67%) !default;
$yellow-a700: hsl(54, 93%, 44%) !default;

$amber-50: hsl(42, 93%, 87%) !default;
$amber-100: hsl(42, 93%, 80%) !default;
$amber-200: hsl(42, 93%, 74%) !default;
$amber-300: hsl(42, 93%, 66%) !default;
$amber-400: hsl(42, 93%, 59%) !default;
$amber-500: hsl(42, 93%, 52%) !default;
$amber-600: hsl(42, 93%, 44%) !default;
$amber-700: hsl(42, 93%, 36%) !default;
$amber-800: hsl(42, 93%, 28%) !default;
$amber-900: hsl(42, 93%, 20%) !default;
$amber-a100: hsl(42, 93%, 84%) !default;
$amber-a200: hsl(42, 93%, 78%) !default;
$amber-a400: hsl(42, 93%, 63%) !default;
$amber-a700: hsl(42, 93%, 40%) !default;

$orange-50: hsl(35, 100%, 85%) !default;
$orange-100: hsl(35, 100%, 78%) !default;
$orange-200: hsl(35, 100%, 71%) !default;
$orange-300: hsl(35, 100%, 64%) !default;
$orange-400: hsl(35, 100%, 57%) !default;
$orange-500: hsl(35, 100%, 50%) !default;
$orange-600: hsl(35, 100%, 42%) !default;
$orange-700: hsl(35, 100%, 34%) !default;
$orange-800: hsl(35, 100%, 26%) !default;
$orange-900: hsl(35, 100%, 18%) !default;
$orange-a100: hsl(35, 100%, 82%) !default;
$orange-a200: hsl(35, 100%, 75%) !default;
$orange-a400: hsl(35, 100%, 61%) !default;
$orange-a700: hsl(35, 100%, 38%) !default;

$deep-orange-50: hsl(14, 100%, 90%) !default;
$deep-orange-100: hsl(14, 100%, 83%) !default;
$deep-orange-200: hsl(14, 100%, 76%) !default;
$deep-orange-300: hsl(14, 100%, 69%) !default;
$deep-orange-400: hsl(14, 100%, 62%) !default;
$deep-orange-500: hsl(14, 100%, 55%) !default;
$deep-orange-600: hsl(14, 100%, 47%) !default;
$deep-orange-700: hsl(14, 100%, 39%) !default;
$deep-orange-800: hsl(14, 100%, 31%) !default;
$deep-orange-900: hsl(14, 100%, 23%) !default;
$deep-orange-a100: hsl(14, 100%, 87%) !default;
$deep-orange-a200: hsl(14, 100%, 80%) !default;
$deep-orange-a400: hsl(14, 100%, 66%) !default;
$deep-orange-a700: hsl(14, 100%, 43%) !default;

$brown-50: hsl(15, 33%, 89%) !default;
$brown-100: hsl(15, 33%, 82%) !default;
$brown-200: hsl(15, 33%, 75%) !default;
$brown-300: hsl(15, 33%, 68%) !default;
$brown-400: hsl(15, 33%, 61%) !default;
$brown-500: hsl(15, 33%, 54%) !default;
$brown-600: hsl(15, 33%, 46%) !default;
$brown-700: hsl(15, 33%, 38%) !default;
$brown-800: hsl(15, 33%, 30%) !default;
$brown-900: hsl(15, 33%, 22%) !default;

$grey-50: hsl(0, 0%, 97%) !default;
$grey-100: hsl(0, 0%, 90%) !default;
$grey-200: hsl(0, 0%, 83%) !default;
$grey-300: hsl(0, 0%, 76%) !default;
$grey-400: hsl(0, 0%, 69%) !default;
$grey-500: hsl(0, 0%, 62%) !default;
$grey-600: hsl(0, 0%, 50%) !default;
$grey-700: hsl(0, 0%, 38%) !default;
$grey-800: hsl(0, 0%, 26%) !default;
$grey-900: hsl(0, 0%, 14%) !default;

$blue-grey-50: hsl(200, 26%, 90%) !default;
$blue-grey-100: hsl(200, 26%, 83%) !default;
$blue-grey-200: hsl(200, 26%, 76%) !default;
$blue-grey-300: hsl(200, 26%, 69%) !default;
$blue-grey-400: hsl(200, 26%, 62%) !default;
$blue-grey-500: hsl(200, 26%, 55%) !default;
$blue-grey-600: hsl(200, 26%, 47%) !default;
$blue-grey-700: hsl(200, 26%, 39%) !default;
$blue-grey-800: hsl(200, 26%, 31%) !default;
$blue-grey-900: hsl(200, 26%, 23%) !default;

$black: hsl(0, 0%, 0%) !default;
$white: hsl(0, 0%, 100%) !default;
