//----------------------------------------------------
// Variable: Color
//----------------------------------------------------

//----------------------------------------------------
// / Change Tone
//----------------------------------------------------

$red-50: $ios-red-50 !default;
$red-100: $ios-red-100 !default;
$red-200: $ios-red-200 !default;
$red-300: $ios-red-300 !default;
$red-400: $ios-red-400 !default;
$red-500: $ios-red-500 !default;
$red-600: $ios-red-600 !default;
$red-700: $ios-red-700 !default;
$red-800: $ios-red-800 !default;
$red-900: $ios-red-900 !default;
$red-a100: $ios-red-a100 !default;
$red-a200: $ios-red-a200 !default;
$red-a400: $ios-red-a400 !default;
$red-a700: $ios-red-a700 !default;

$pink-50: $ios-pink-50 !default;
$pink-100: $ios-pink-100 !default;
$pink-200: $ios-pink-200 !default;
$pink-300: $ios-pink-300 !default;
$pink-400: $ios-pink-400 !default;
$pink-500: $ios-pink-500 !default;
$pink-600: $ios-pink-600 !default;
$pink-700: $ios-pink-700 !default;
$pink-800: $ios-pink-800 !default;
$pink-900: $ios-pink-900 !default;
$pink-a100: $ios-pink-a100 !default;
$pink-a200: $ios-pink-a200 !default;
$pink-a400: $ios-pink-a400 !default;
$pink-a700: $ios-pink-a700 !default;

$purple-50: $ios-purple-50 !default;
$purple-100: $ios-purple-100 !default;
$purple-200: $ios-purple-200 !default;
$purple-300: $ios-purple-300 !default;
$purple-400: $ios-purple-400 !default;
$purple-500: $ios-purple-500 !default;
$purple-600: $ios-purple-600 !default;
$purple-700: $ios-purple-700 !default;
$purple-800: $ios-purple-800 !default;
$purple-900: $ios-purple-900 !default;
$purple-a100: $ios-purple-a100 !default;
$purple-a200: $ios-purple-a200 !default;
$purple-a400: $ios-purple-a400 !default;
$purple-a700: $ios-purple-a700 !default;

$deep-purple-50: $ios-deep-purple-50 !default;
$deep-purple-100: $ios-deep-purple-100 !default;
$deep-purple-200: $ios-deep-purple-200 !default;
$deep-purple-300: $ios-deep-purple-300 !default;
$deep-purple-400: $ios-deep-purple-400 !default;
$deep-purple-500: $ios-deep-purple-500 !default;
$deep-purple-600: $ios-deep-purple-600 !default;
$deep-purple-700: $ios-deep-purple-700 !default;
$deep-purple-800: $ios-deep-purple-800 !default;
$deep-purple-900: $ios-deep-purple-900 !default;
$deep-purple-a100: $ios-deep-purple-a100 !default;
$deep-purple-a200: $ios-deep-purple-a200 !default;
$deep-purple-a400: $ios-deep-purple-a400 !default;
$deep-purple-a700: $ios-deep-purple-a700 !default;

$indigo-50: $ios-indigo-50 !default;
$indigo-100: $ios-indigo-100 !default;
$indigo-200: $ios-indigo-200 !default;
$indigo-300: $ios-indigo-300 !default;
$indigo-400: $ios-indigo-400 !default;
$indigo-500: $ios-indigo-500 !default;
$indigo-600: $ios-indigo-600 !default;
$indigo-700: $ios-indigo-700 !default;
$indigo-800: $ios-indigo-800 !default;
$indigo-900: $ios-indigo-900 !default;
$indigo-a100: $ios-indigo-a100 !default;
$indigo-a200: $ios-indigo-a200 !default;
$indigo-a400: $ios-indigo-a400 !default;
$indigo-a700: $ios-indigo-a700 !default;

$blue-50: $ios-blue-50 !default;
$blue-100: $ios-blue-100 !default;
$blue-200: $ios-blue-200 !default;
$blue-300: $ios-blue-300 !default;
$blue-400: $ios-blue-400 !default;
$blue-500: $ios-blue-500 !default;
$blue-600: $ios-blue-600 !default;
$blue-700: $ios-blue-700 !default;
$blue-800: $ios-blue-800 !default;
$blue-900: $ios-blue-900 !default;
$blue-a100: $ios-blue-a100 !default;
$blue-a200: $ios-blue-a200 !default;
$blue-a400: $ios-blue-a400 !default;
$blue-a700: $ios-blue-a700 !default;

$light-blue-50: $ios-light-blue-50 !default;
$light-blue-100: $ios-light-blue-100 !default;
$light-blue-200: $ios-light-blue-200 !default;
$light-blue-300: $ios-light-blue-300 !default;
$light-blue-400: $ios-light-blue-400 !default;
$light-blue-500: $ios-light-blue-500 !default;
$light-blue-600: $ios-light-blue-600 !default;
$light-blue-700: $ios-light-blue-700 !default;
$light-blue-800: $ios-light-blue-800 !default;
$light-blue-900: $ios-light-blue-900 !default;
$light-blue-a100: $ios-light-blue-a100 !default;
$light-blue-a200: $ios-light-blue-a200 !default;
$light-blue-a400: $ios-light-blue-a400 !default;
$light-blue-a700: $ios-light-blue-a700 !default;

$cyan-50: $ios-cyan-50 !default;
$cyan-100: $ios-cyan-100 !default;
$cyan-200: $ios-cyan-200 !default;
$cyan-300: $ios-cyan-300 !default;
$cyan-400: $ios-cyan-400 !default;
$cyan-500: $ios-cyan-500 !default;
$cyan-600: $ios-cyan-600 !default;
$cyan-700: $ios-cyan-700 !default;
$cyan-800: $ios-cyan-800 !default;
$cyan-900: $ios-cyan-900 !default;
$cyan-a100: $ios-cyan-a100 !default;
$cyan-a200: $ios-cyan-a200 !default;
$cyan-a400: $ios-cyan-a400 !default;
$cyan-a700: $ios-cyan-a700 !default;

$teal-50: $ios-teal-50 !default;
$teal-100: $ios-teal-100 !default;
$teal-200: $ios-teal-200 !default;
$teal-300: $ios-teal-300 !default;
$teal-400: $ios-teal-400 !default;
$teal-500: $ios-teal-500 !default;
$teal-600: $ios-teal-600 !default;
$teal-700: $ios-teal-700 !default;
$teal-800: $ios-teal-800 !default;
$teal-900: $ios-teal-900 !default;
$teal-a100: $ios-teal-a100 !default;
$teal-a200: $ios-teal-a200 !default;
$teal-a400: $ios-teal-a400 !default;
$teal-a700: $ios-teal-a700 !default;

$green-50: $ios-green-50 !default;
$green-100: $ios-green-100 !default;
$green-200: $ios-green-200 !default;
$green-300: $ios-green-300 !default;
$green-400: $ios-green-400 !default;
$green-500: $ios-green-500 !default;
$green-600: $ios-green-600 !default;
$green-700: $ios-green-700 !default;
$green-800: $ios-green-800 !default;
$green-900: $ios-green-900 !default;
$green-a100: $ios-green-a100 !default;
$green-a200: $ios-green-a200 !default;
$green-a400: $ios-green-a400 !default;
$green-a700: $ios-green-a700 !default;

$light-green-50: $ios-light-green-50 !default;
$light-green-100: $ios-light-green-100 !default;
$light-green-200: $ios-light-green-200 !default;
$light-green-300: $ios-light-green-300 !default;
$light-green-400: $ios-light-green-400 !default;
$light-green-500: $ios-light-green-500 !default;
$light-green-600: $ios-light-green-600 !default;
$light-green-700: $ios-light-green-700 !default;
$light-green-800: $ios-light-green-800 !default;
$light-green-900: $ios-light-green-900 !default;
$light-green-a100: $ios-light-green-a100 !default;
$light-green-a200: $ios-light-green-a200 !default;
$light-green-a400: $ios-light-green-a400 !default;
$light-green-a700: $ios-light-green-a700 !default;

$lime-50: $ios-lime-50 !default;
$lime-100: $ios-lime-100 !default;
$lime-200: $ios-lime-200 !default;
$lime-300: $ios-lime-300 !default;
$lime-400: $ios-lime-400 !default;
$lime-500: $ios-lime-500 !default;
$lime-600: $ios-lime-600 !default;
$lime-700: $ios-lime-700 !default;
$lime-800: $ios-lime-800 !default;
$lime-900: $ios-lime-900 !default;
$lime-a100: $ios-lime-a100 !default;
$lime-a200: $ios-lime-a200 !default;
$lime-a400: $ios-lime-a400 !default;
$lime-a700: $ios-lime-a700 !default;

$yellow-50: $ios-yellow-50 !default;
$yellow-100: $ios-yellow-100 !default;
$yellow-200: $ios-yellow-200 !default;
$yellow-300: $ios-yellow-300 !default;
$yellow-400: $ios-yellow-400 !default;
$yellow-500: $ios-yellow-500 !default;
$yellow-600: $ios-yellow-600 !default;
$yellow-700: $ios-yellow-700 !default;
$yellow-800: $ios-yellow-800 !default;
$yellow-900: $ios-yellow-900 !default;
$yellow-a100: $ios-yellow-a100 !default;
$yellow-a200: $ios-yellow-a200 !default;
$yellow-a400: $ios-yellow-a400 !default;
$yellow-a700: $ios-yellow-a700 !default;

$amber-50: $ios-amber-50 !default;
$amber-100: $ios-amber-100 !default;
$amber-200: $ios-amber-200 !default;
$amber-300: $ios-amber-300 !default;
$amber-400: $ios-amber-400 !default;
$amber-500: $ios-amber-500 !default;
$amber-600: $ios-amber-600 !default;
$amber-700: $ios-amber-700 !default;
$amber-800: $ios-amber-800 !default;
$amber-900: $ios-amber-900 !default;
$amber-a100: $ios-amber-a100 !default;
$amber-a200: $ios-amber-a200 !default;
$amber-a400: $ios-amber-a400 !default;
$amber-a700: $ios-amber-a700 !default;

$orange-50: $ios-orange-50 !default;
$orange-100: $ios-orange-100 !default;
$orange-200: $ios-orange-200 !default;
$orange-300: $ios-orange-300 !default;
$orange-400: $ios-orange-400 !default;
$orange-500: $ios-orange-500 !default;
$orange-600: $ios-orange-600 !default;
$orange-700: $ios-orange-700 !default;
$orange-800: $ios-orange-800 !default;
$orange-900: $ios-orange-900 !default;
$orange-a100: $ios-orange-a100 !default;
$orange-a200: $ios-orange-a200 !default;
$orange-a400: $ios-orange-a400 !default;
$orange-a700: $ios-orange-a700 !default;

$deep-orange-50: $ios-deep-orange-50 !default;
$deep-orange-100: $ios-deep-orange-100 !default;
$deep-orange-200: $ios-deep-orange-200 !default;
$deep-orange-300: $ios-deep-orange-300 !default;
$deep-orange-400: $ios-deep-orange-400 !default;
$deep-orange-500: $ios-deep-orange-500 !default;
$deep-orange-600: $ios-deep-orange-600 !default;
$deep-orange-700: $ios-deep-orange-700 !default;
$deep-orange-800: $ios-deep-orange-800 !default;
$deep-orange-900: $ios-deep-orange-900 !default;
$deep-orange-a100: $ios-deep-orange-a100 !default;
$deep-orange-a200: $ios-deep-orange-a200 !default;
$deep-orange-a400: $ios-deep-orange-a400 !default;
$deep-orange-a700: $ios-deep-orange-a700 !default;

$brown-50: $ios-brown-50 !default;
$brown-100: $ios-brown-100 !default;
$brown-200: $ios-brown-200 !default;
$brown-300: $ios-brown-300 !default;
$brown-400: $ios-brown-400 !default;
$brown-500: $ios-brown-500 !default;
$brown-600: $ios-brown-600 !default;
$brown-700: $ios-brown-700 !default;
$brown-800: $ios-brown-800 !default;
$brown-900: $ios-brown-900 !default;

$grey-50: $ios-grey-50 !default;
$grey-100: $ios-grey-100 !default;
$grey-200: $ios-grey-200 !default;
$grey-300: $ios-grey-300 !default;
$grey-400: $ios-grey-400 !default;
$grey-500: $ios-grey-500 !default;
$grey-600: $ios-grey-600 !default;
$grey-700: $ios-grey-700 !default;
$grey-800: $ios-grey-800 !default;
$grey-900: $ios-grey-900 !default;

$blue-grey-50: $ios-blue-grey-50 !default;
$blue-grey-100: $ios-blue-grey-100 !default;
$blue-grey-200: $ios-blue-grey-200 !default;
$blue-grey-300: $ios-blue-grey-300 !default;
$blue-grey-400: $ios-blue-grey-400 !default;
$blue-grey-500: $ios-blue-grey-500 !default;
$blue-grey-600: $ios-blue-grey-600 !default;
$blue-grey-700: $ios-blue-grey-700 !default;
$blue-grey-800: $ios-blue-grey-800 !default;
$blue-grey-900: $ios-blue-grey-900 !default;

$black: $ios-black !default;
$white: $ios-white !default;

//----------------------------------------------------
// / Theme
//----------------------------------------------------

$primary: $cyan-500 !default;
$info: $blue-500 !default;
$success: $green-a700 !default;
$warning: $orange-600 !default;
$danger: $red-500 !default;

$dark: $black !default;
$dark-1: rgba( $black, 0.87 ) !default;
$dark-2: rgba( $black, 0.7 ) !default;
$dark-3: rgba( $black, 0.6 ) !default;
$dark-4: rgba( $black, 0.5 ) !default;
$dark-5: rgba( $black, 0.4 ) !default;
$dark-6: rgba( $black, 0.26 ) !default;
$dark-7: rgba( $black, 0.15 ) !default;
$dark-8: rgba( $black, 0.12 ) !default;
$dark-9: rgba( $black, 0.05 ) !default;

$light: $white !default;
$light-1: rgba( $white, 0.87 ) !default;
$light-2: rgba( $white, 0.7 ) !default;
$light-3: rgba( $white, 0.6 ) !default;
$light-4: rgba( $white, 0.5 ) !default;
$light-5: rgba( $white, 0.4 ) !default;
$light-6: rgba( $white, 0.26 ) !default;
$light-7: rgba( $white, 0.15 ) !default;
$light-8: rgba( $white, 0.12 ) !default;
$light-9: rgba( $white, 0.05 ) !default;

//----------------------------------------------------
// / Pattern
//----------------------------------------------------

$pattern-color-theme:(
  primary: $primary,
  info: $info,
  success: $success,
  warning: $warning,
  danger: $danger
);

$pattern-color-dark:(
  dark: $dark,
  dark-1: $dark-1,
  dark-2: $dark-2,
  dark-3: $dark-3,
  dark-4: $dark-4,
  dark-5: $dark-5,
  dark-6: $dark-6,
  dark-7: $dark-7,
  dark-8: $dark-8,
  dark-9: $dark-9
);

$pattern-color-light:(
  light: $light,
  light-1: $light-1,
  light-2: $light-2,
  light-3: $light-3,
  light-4: $light-4,
  light-5: $light-5,
  light-6: $light-6,
  light-7: $light-7,
  light-8: $light-8,
  light-9: $light-9
);