//----------------------------------------------------
// Module: Group
//----------------------------------------------------

.pallet {
  width: 248px;
  margin-bottom: 32px;
  border-radius: 4px;
  font-size: 14px;
  font-family: $font-mono;
  text-transform: uppercase;
  overflow: hidden;
  .bar {
    padding: 6px 12px;
  }
  .bar.is-cut + .bar {
    margin-top: 4px;
  }
  .bar:nth-child(12) {
    margin-top: 4px;
  }
}

.pallet.is-red {
  .bar:first-child {
    background: $ios-red-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $ios-red-50;
  }
  .bar:nth-child(3) {
    background: $ios-red-100;
  }
  .bar:nth-child(4) {
    background: $ios-red-200;
  }
  .bar:nth-child(5) {
    background: $ios-red-300;
    color: $light;
  }
  .bar:nth-child(6) {
    background: $ios-red-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $ios-red-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $ios-red-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $ios-red-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $ios-red-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $ios-red-900;
    color: $light;
  }
}

.pallet.is-pink {
  .bar:first-child {
    background: $ios-pink-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $ios-pink-50;
  }
  .bar:nth-child(3) {
    background: $ios-pink-100;
  }
  .bar:nth-child(4) {
    background: $ios-pink-200;
  }
  .bar:nth-child(5) {
    background: $ios-pink-300;
    color: $light;
  }
  .bar:nth-child(6) {
    background: $ios-pink-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $ios-pink-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $ios-pink-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $ios-pink-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $ios-pink-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $ios-pink-900;
    color: $light;
  }
}

.pallet.is-purple {
  .bar:first-child {
    background: $ios-purple-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $ios-purple-50;
  }
  .bar:nth-child(3) {
    background: $ios-purple-100;
  }
  .bar:nth-child(4) {
    background: $ios-purple-200;
  }
  .bar:nth-child(5) {
    background: $ios-purple-300;
    color: $light;
  }
  .bar:nth-child(6) {
    background: $ios-purple-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $ios-purple-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $ios-purple-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $ios-purple-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $ios-purple-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $ios-purple-900;
    color: $light;
  }
}

.pallet.is-deep-purple {
  .bar:first-child {
    background: $ios-deep-purple-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $ios-deep-purple-50;
  }
  .bar:nth-child(3) {
    background: $ios-deep-purple-100;
  }
  .bar:nth-child(4) {
    background: $ios-deep-purple-200;
  }
  .bar:nth-child(5) {
    background: $ios-deep-purple-300;
    color: $light;
  }
  .bar:nth-child(6) {
    background: $ios-deep-purple-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $ios-deep-purple-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $ios-deep-purple-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $ios-deep-purple-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $ios-deep-purple-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $ios-deep-purple-900;
    color: $light;
  }
}

.pallet.is-indigo {
  .bar:first-child {
    background: $ios-indigo-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $ios-indigo-50;
  }
  .bar:nth-child(3) {
    background: $ios-indigo-100;
  }
  .bar:nth-child(4) {
    background: $ios-indigo-200;
  }
  .bar:nth-child(5) {
    background: $ios-indigo-300;
    color: $light;
  }
  .bar:nth-child(6) {
    background: $ios-indigo-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $ios-indigo-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $ios-indigo-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $ios-indigo-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $ios-indigo-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $ios-indigo-900;
    color: $light;
  }
}

.pallet.is-blue {
  .bar:first-child {
    background: $ios-blue-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $ios-blue-50;
  }
  .bar:nth-child(3) {
    background: $ios-blue-100;
  }
  .bar:nth-child(4) {
    background: $ios-blue-200;
  }
  .bar:nth-child(5) {
    background: $ios-blue-300;
  }
  .bar:nth-child(6) {
    background: $ios-blue-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $ios-blue-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $ios-blue-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $ios-blue-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $ios-blue-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $ios-blue-900;
    color: $light;
  }
}

.pallet.is-light-blue {
  .bar:first-child {
    background: $ios-light-blue-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $ios-light-blue-50;
  }
  .bar:nth-child(3) {
    background: $ios-light-blue-100;
  }
  .bar:nth-child(4) {
    background: $ios-light-blue-200;
  }
  .bar:nth-child(5) {
    background: $ios-light-blue-300;
  }
  .bar:nth-child(6) {
    background: $ios-light-blue-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $ios-light-blue-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $ios-light-blue-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $ios-light-blue-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $ios-light-blue-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $ios-light-blue-900;
    color: $light;
  }
}

.pallet.is-cyan {
  .bar:first-child {
    background: $ios-cyan-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $ios-cyan-50;
  }
  .bar:nth-child(3) {
    background: $ios-cyan-100;
  }
  .bar:nth-child(4) {
    background: $ios-cyan-200;
  }
  .bar:nth-child(5) {
    background: $ios-cyan-300;
  }
  .bar:nth-child(6) {
    background: $ios-cyan-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $ios-cyan-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $ios-cyan-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $ios-cyan-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $ios-cyan-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $ios-cyan-900;
    color: $light;
  }
}

.pallet.is-teal {
  .bar:first-child {
    background: $ios-teal-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $ios-teal-50;
  }
  .bar:nth-child(3) {
    background: $ios-teal-100;
  }
  .bar:nth-child(4) {
    background: $ios-teal-200;
  }
  .bar:nth-child(5) {
    background: $ios-teal-300;
    color: $light;
  }
  .bar:nth-child(6) {
    background: $ios-teal-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $ios-teal-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $ios-teal-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $ios-teal-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $ios-teal-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $ios-teal-900;
    color: $light;
  }
}

.pallet.is-green {
  .bar:first-child {
    background: $ios-green-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $ios-green-50;
  }
  .bar:nth-child(3) {
    background: $ios-green-100;
  }
  .bar:nth-child(4) {
    background: $ios-green-200;
  }
  .bar:nth-child(5) {
    background: $ios-green-300;
  }
  .bar:nth-child(6) {
    background: $ios-green-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $ios-green-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $ios-green-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $ios-green-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $ios-green-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $ios-green-900;
    color: $light;
  }
}

.pallet.is-light-green {
  .bar:first-child {
    background: $ios-light-green-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $ios-light-green-50;
  }
  .bar:nth-child(3) {
    background: $ios-light-green-100;
  }
  .bar:nth-child(4) {
    background: $ios-light-green-200;
  }
  .bar:nth-child(5) {
    background: $ios-light-green-300;
  }
  .bar:nth-child(6) {
    background: $ios-light-green-400;
  }
  .bar:nth-child(7) {
    background: $ios-light-green-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $ios-light-green-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $ios-light-green-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $ios-light-green-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $ios-light-green-900;
    color: $light;
  }
}

.pallet.is-lime {
  .bar:first-child {
    background: $ios-lime-500;
  }
  .bar:nth-child(2) {
    background: $ios-lime-50;
  }
  .bar:nth-child(3) {
    background: $ios-lime-100;
  }
  .bar:nth-child(4) {
    background: $ios-lime-200;
  }
  .bar:nth-child(5) {
    background: $ios-lime-300;
  }
  .bar:nth-child(6) {
    background: $ios-lime-400;
  }
  .bar:nth-child(7) {
    background: $ios-lime-500;
  }
  .bar:nth-child(8) {
    background: $ios-lime-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $ios-lime-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $ios-lime-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $ios-lime-900;
    color: $light;
  }
}

.pallet.is-yellow {
  .bar:first-child {
    background: $ios-yellow-500;
  }
  .bar:nth-child(2) {
    background: $ios-yellow-50;
  }
  .bar:nth-child(3) {
    background: $ios-yellow-100;
  }
  .bar:nth-child(4) {
    background: $ios-yellow-200;
  }
  .bar:nth-child(5) {
    background: $ios-yellow-300;
  }
  .bar:nth-child(6) {
    background: $ios-yellow-400;
  }
  .bar:nth-child(7) {
    background: $ios-yellow-500;
  }
  .bar:nth-child(8) {
    background: $ios-yellow-600;
  }
  .bar:nth-child(9) {
    background: $ios-yellow-700;
  }
  .bar:nth-child(10) {
    background: $ios-yellow-800;
  }
  .bar:nth-child(11) {
    background: $ios-yellow-900;
    color: $light;
  }
}

.pallet.is-amber {
  .bar:first-child {
    background: $ios-amber-500;
  }
  .bar:nth-child(2) {
    background: $ios-amber-50;
  }
  .bar:nth-child(3) {
    background: $ios-amber-100;
  }
  .bar:nth-child(4) {
    background: $ios-amber-200;
  }
  .bar:nth-child(5) {
    background: $ios-amber-300;
  }
  .bar:nth-child(6) {
    background: $ios-amber-400;
  }
  .bar:nth-child(7) {
    background: $ios-amber-500;
  }
  .bar:nth-child(8) {
    background: $ios-amber-600;
  }
  .bar:nth-child(9) {
    background: $ios-amber-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $ios-amber-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $ios-amber-900;
    color: $light;
  }
}

.pallet.is-orange {
  .bar:first-child {
    background: $ios-orange-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $ios-orange-50;
  }
  .bar:nth-child(3) {
    background: $ios-orange-100;
  }
  .bar:nth-child(4) {
    background: $ios-orange-200;
  }
  .bar:nth-child(5) {
    background: $ios-orange-300;
  }
  .bar:nth-child(6) {
    background: $ios-orange-400;
  }
  .bar:nth-child(7) {
    background: $ios-orange-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $ios-orange-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $ios-orange-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $ios-orange-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $ios-orange-900;
    color: $light;
  }
}

.pallet.is-deep-orange {
  .bar:first-child {
    background: $ios-deep-orange-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $ios-deep-orange-50;
  }
  .bar:nth-child(3) {
    background: $ios-deep-orange-100;
  }
  .bar:nth-child(4) {
    background: $ios-deep-orange-200;
  }
  .bar:nth-child(5) {
    background: $ios-deep-orange-300;
  }
  .bar:nth-child(6) {
    background: $ios-deep-orange-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $ios-deep-orange-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $ios-deep-orange-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $ios-deep-orange-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $ios-deep-orange-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $ios-deep-orange-900;
    color: $light;
  }
}

.pallet.is-brown {
  .bar:first-child {
    background: $ios-brown-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $ios-brown-50;
  }
  .bar:nth-child(3) {
    background: $ios-brown-100;
  }
  .bar:nth-child(4) {
    background: $ios-brown-200;
  }
  .bar:nth-child(5) {
    background: $ios-brown-300;
    color: $light;
  }
  .bar:nth-child(6) {
    background: $ios-brown-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $ios-brown-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $ios-brown-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $ios-brown-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $ios-brown-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $ios-brown-900;
    color: $light;
  }
}

.pallet.is-grey {
  .bar:first-child {
    background: $ios-grey-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $ios-grey-50;
  }
  .bar:nth-child(3) {
    background: $ios-grey-100;
  }
  .bar:nth-child(4) {
    background: $ios-grey-200;
  }
  .bar:nth-child(5) {
    background: $ios-grey-300;
  }
  .bar:nth-child(6) {
    background: $ios-grey-400;
  }
  .bar:nth-child(7) {
    background: $ios-grey-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $ios-grey-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $ios-grey-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $ios-grey-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $ios-grey-900;
    color: $light;
  }
}

.pallet.is-blue-grey {
  .bar:first-child {
    background: $ios-blue-grey-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $ios-blue-grey-50;
  }
  .bar:nth-child(3) {
    background: $ios-blue-grey-100;
  }
  .bar:nth-child(4) {
    background: $ios-blue-grey-200;
  }
  .bar:nth-child(5) {
    background: $ios-blue-grey-300;
    color: $light;
  }
  .bar:nth-child(6) {
    background: $ios-blue-grey-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $ios-blue-grey-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $ios-blue-grey-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $ios-blue-grey-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $ios-blue-grey-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $ios-blue-grey-900;
    color: $light;
  }
}

.pallet.is-black-and-white {
  .bar:first-child {
    background: $ios-black;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $ios-white;
  }
}